{{> private-nav}}

<div class="container w-75">
  <h1 class="text-center my-5">Welcome to your Dashboard! </h1>
  {{#each restaurants as |restaurant|}}

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{restaurantName}}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Inventore aliquam non, delectus pariatur doloremque odit eius
          rerum dolores neque beatae libero ut illo nihil quia aperiam voluptate
          ipsam animi nemo.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  {{/each}}
</div>